body {
  /*background: grey;*/
}

.App {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 0.5fr 5fr;
  grid-template-areas:
  "navbar search"
  "timeline search";
}

.dayContainer {
  display: flex;
}

.dayView {
  padding: 5px;
}

.searchComponent {

}
.searchTitle {

}

.startDate {
  padding: 5px;
}

.endDate {
  padding: 5px;
}

.title {
  font-size: 30pt;
  font-weight: bold;
}

.timelineName {
  padding: 5px;
}

.inputBox {
  padding: 5px;
}

.timelineParams {
  display: flex;
  grid-area: navbar;
}

.searchContainer {
  display: flex;
  grid-area: search;
}

.timelineContainer {
  grid-area: timeline;
}

.columnsContainer {
  display: flex;
  flex-direction: row;
}

.event {
  margin: 5px;
}
