body {
  /*background: grey;*/
}

.App {

}

.dayContainer {
  display: flex;
}

.dayView {
  padding: 5px;
}

.searchComponent {

}
.searchTitle {

}

.startDate {
  padding: 5px;
}

.endDate {
  padding: 5px;
}

.title {
  font-size: 30pt;
  font-weight: bold;
}

.timelineName {
  padding: 5px;
}

.inputBox {
  padding: 5px;
}

.timelineParams {
  display: flex;
}

.searchContainer {
  display: flex;
}

.timelineContainer {

}

.columnsContainer {
  display: flex;
  flex-direction: row;
}

.event {
  margin: 5px;
}
