body {
  margin: 0 auto;
  box-sizing: border-box;
  /*background: grey;*/
}

.App {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 0.20fr 0.20fr 0.20fr 5fr;
  grid-template-areas: "navbar navbar" "createTimeline createbox" "lookupTimeline search" "timeline search";
}

.container {
  border: 1px solid white;
  padding: 10px;
}

.day {
  display: flex;
  min-height: min-content;
  background: white;
}

.dayTitle {
  text-decoration: underline;
  text-align: center;
}

.dayView {
  padding: 5px;
  width: 200px;
  border: 1px solid black;
}

.event {
  padding: .3em;
}

.label {
  font-family: 'Pacifico', cursive;
  font-size: 1.15em;
}

.searchComponent {}

.searchList {
  /*min-height: min-content;*/
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.searchBar {
  margin-bottom: 20px;
}

.search {
  display: flex;
  grid-area: search;
  align-content: stretch;
  flex-direction: column;
  font-family: 'Boogaloo', cursive;
}

.searchSubmit button {
  padding-left: 1px;
  text-align: center;
}

.searchEntry {
  padding: 5px;
  border: 1px solid black;
}

.scrollbox {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 85vh;
}

.startDate {
  padding: 5px;
}

.endDate {
  padding: 5px;
}

.title {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  font-size: 32pt;
  font-weight: bold;
  font-family: 'Sacramento', cursive;
}

.timelineName {
  padding: 5px;
}

.inputBox {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 2px;
}

input {
  border-radius: 5px;
  padding-left: 5px;
}

.createEvent {
  padding: 5px;
}

.createEventName {
  padding: 5px;
}

.createEventAddress {
  padding: 5px;
}

.createBox {
  grid-area: createbox;
  background-color: #9CCEFF;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 5px;
}

.timelineLookUp {
  grid-area: lookupTimeline;
}

/* .timelineName {
  grid-area: createTimeline;
} */

.timelineParams {
  display: flex;
  grid-area: createTimeline;
  justify-content: space-around;
  background-color: #9CCEFF;
}

/* .timelineParams button {
  background: rgb(148, 36, 36);
  border-radius: 2px;
  height: 33%;
  align-self: center;
} */

.timeline {
  display: flex;
  grid-area: timeline;
  height: 85vh;
  flex: 1;
  overflow: auto;
  font-size: 1.1em;
  font-family: 'Boogaloo', cursive;
}

.event {
  margin: 5px;
}

button {
  background-color: rgb(56, 222, 225); /* Green */
  border: none;
  color: white;
  border-radius: 1px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
